
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Practice</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">

    </head>
    <body>

<div class="page-header">
    <h1><a href="/">Практическое задание</a></h1>
</div>

        <div>
            <h1><a href="/">Поддержка бота , рекомендующего метод прогнозирования</a></h1>
            <img src="{% static "/img/image1.png" alt="error" %}" width="550px" height="280px">

        </div>
<script src="https://widget.flowxo.com/embed.js" data-fxo-widget="eyJ0aGVtZSI6IiMyYTQ3YmQiLCJ3ZWIiOnsiYm90SWQiOiI1ZDY1MWM4ZjY4MGJjYTAwOTk1YWIwZDUiLCJ0aGVtZSI6IiMyYTQ3YmQiLCJsYWJlbCI6ItCS0LLQtdGA0YXRgyDRgdCw0LzQvtC8In0sIndlbGNvbWVUZXh0Ijoi0J3QsNC20LzQuCJ9" async defer></script>
    </body>
</html>